* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
}

@font-face {
  font-family: Be-Vietnam-Pro;
  src: url(./fonts/BeVietnamPro-Light.ttf);
}

.background-color {
  background-color: rgb(245, 245, 245);
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
/* Navbar */
.container {
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logo {
  width: 80px;
}

.logo-container:hover {
  cursor: pointer;
  user-select: none;
}

.logo-container {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.logo-text {
  margin-left: -1.2rem;
  font-size: 28px;
  margin-top: 0.7rem;
  font-family: Be-Vietnam-Pro;
}

.nav-items {
  display: flex;
  gap: 2rem;
  padding: 0 4em;
}

.nav-items div {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: Be-Vietnam-Pro;
}

.nav-items div a {
  color: black;
}

.nav-items div a:hover {
  transition: font-weight 0.8s;
  font-weight: bold;
}

a {
  text-decoration: None;
}

.space {
  height: 6rem;
}

/* Hero Section */
.hero-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
  width: 1200px;
  padding: 0 auto;
}

.faded-text {
  position: absolute;
  user-select: none;
  font-size: 5rem;
  color: rgb(150, 150, 150);
  bottom: -16%;
  left: -5%;
  font-weight: bold;
  transition: all 3s;
  font-family: Be-Vietnam-Pro;
  text-shadow: -1px -1px rgb(245, 245, 245), 1px 1px rgb(245, 245, 245);
}

.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  font-family: Be-Vietnam-Pro;
}

.role {
  color: #4e45d5;
  font-weight: 800;
}

.hero-section-heading {
  font-size: 45px;
  line-height: 45px;
}

.hero-section-sub-heading {
  font-size: 45px;
  line-height: 45px;
}

.hero-section-description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}

.btn-pink {
  background-color: orangered;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}
.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}
.btn-pink:hover::before {
  transform: scaleX(1);
}
.btn-pink:hover {
  border: solid 3px var(--bgOrange);
  color: black;
}

.hero-section-right {
  position: relative;
}

.absolute {
  position: absolute;
}

.user-image {
  padding: 1.5rem;
  transition: all 1s;
  animation: scaleImage 5s linear infinite;
}

.user-image img {
  z-index: -10;
  width: 100%;
}

@keyframes scaleImage {
  0% {
    filter: grayscale(1);
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    filter: grayscale(0);
    box-shadow: 3px 3px 10px black;
  }
  100% {
    transform: scale(1);
    filter: grayscale(0);
  }
}

.icon-dots {
  z-index: 10;
  bottom: -1rem;
  right: 0;
  animation-name: dotsAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes dotsAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.icon-cube {
  z-index: 10;
  top: -0.8em;
  right: 1em;
  animation-name: cubeRotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes cubeRotate {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-12px);
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}

.icon-circle {
  z-index: 10;
  bottom: 0;
  left: 0;
  animation-name: shakeEffect;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes shakeEffect {
  0% {
    left: 0;
    bottom: 0;
  }
  50% {
    left: 5%;
    bottom: 5%;
  }
  100% {
    left: 0;
    bottom: 0;
  }
}

.icon-zigzags {
  z-index: 10;
  top: 1.5em;
  left: -0.3em;
  animation-name: zigzagAnimation;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes zigzagAnimation {
  50% {
    left: 5%;
    top: 2%;
  }
}

.icon-plus {
  z-index: 10;
  top: -0.8rem;
  left: 50%;
  animation-name: shakeEffectPlus;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes shakeEffectPlus {
  50% {
    top: 3%;
    left: 38%;
  }
}

.project-section {
  background-color: rgb(200, 200, 200);
  margin-top: 4.5rem;
}

.project-header {
  color: orangered;
  font-size: 90px;
  padding: 30px;
  text-align: center;
  font-family: Be-Vietnam-Pro;
}

.project-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.project-card {
  width: 90%;
  height: 550px;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1f1f9a;
  /* transform: scaleX(1); */
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform: scalex(0);
  transform-origin: left;
  transition: all 0.4s;
}

.project-card:hover::before {
  transform: scaleX(1);
}

.project-number {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: white;
  font-family: Be-Vietnam-Pro;
  z-index: 10;
  opacity: 0;
}

.project-card:hover .project-number {
  opacity: 1;
}

.project-number-right {
  right: -40px;
  top: -45px;
}

.project-number-left {
  left: -40px;
  top: -45px;
}

.project-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  bottom: 20%;
  z-index: 5;
  gap: 1em;
  transition: all 0.4s;
}

.project-content-left {
  left: 10%;
}

.project-content-right {
  right: 10%;
}

.project-card:hover .project-content {
  transform: scale(1.1);
}

.project-skill-container {
  width: 60%;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.project-skill {
  width: 40px;
}

.project-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
  font-family: Be-Vietnam-Pro;
}

.project-sub-heading {
  font-size: 16px;
  width: 70%;
  font-style: italic;
  font-family: Be-Vietnam-Pro;
}

.btn-group {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.btn-project:hover {
  border: none;
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}

.icon:hover {
  color: orangered;
}

#project1 {
  background-image: url(./images/projects/project1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

#project2 {
  margin-left: 120px;
  background-image: url(./images/projects/project2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

#project3 {
  background-image: url(./images/projects/project3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

#project4 {
  margin-left: 120px;
  background-image: url(./images/projects/project4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Skills Section */
.bg-white {
  background-color: white;
  z-index: -10;
}
.skills-section {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem;
  gap: 30px;
}

.skill-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.skill-container-right {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  position: relative;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.skills-faded-text {
  position: absolute;
  font-size: 15em;
  font-style: bold;
  color: rgb(200, 200, 200);
  user-select: none;
  bottom: -34.5%;
  right: -25%;
  font-family: Be-Vietnam-Pro;
}

.blob-style {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  right: 25%;
  bottom: 25%;
  animation: blobAnimation 4s linear infinite;
  z-index: 1;
}

@keyframes blobAnimation {
  0% {
    right: 25%;
    bottom: 25%;
  }
  25% {
    right: 28%;
    bottom: 27%;
  }
  50% {
    right: 31%;
    bottom: 29%;
  }
  75% {
    right: 28%;
    bottom: 27%;
  }
  100% {
    right: 25%;
    bottom: 25%;
  }
}

.skills-logo {
  width: 90px;
  z-index: 10;
  height: 90px;
}

.skills-logo:hover {
  transform: scale(1.2);
}

.skill-heading {
  font-size: 50px;
  font-style: bold;
  color: orangered;
  font-family: Be-Vietnam-Pro;
}

.caps {
  font-size: 90px;
}

.skills-subheading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
  font-family: Be-Vietnam-Pro;
}

.skills-subheading p {
  margin: 15px 0;
}

.contactus-container {
  width: 100%;
  background-color: rgb(200, 200, 200);
}

.contactus-heading {
  font-size: 5em;
  color: orangered;
  padding-top: 2rem;
  font-family: Be-Vietnam-Pro;
}

.contactus-sub-heading {
  font-size: 3rem;
  color: #343d68aa;
  text-transform: capitalize;
  font-family: Be-Vietnam-Pro;
}

.contactus-form-container {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Be-Vietnam-Pro;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  margin: 2rem 5rem;
}

.formfield-container {
  width: 100%;
}

.formfield {
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
  font-weight: 500;
  border: none;
  margin-top: 17px;
}

.text-area-formfield {
  height: auto;
  padding-top: 1rem;
}

#submit-btn {
  border: none;
  font-size: 1.4rem;
  margin: 1rem 0;
}

#submit-btn:hover {
  scale: 0.9;
}

.submit-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
}

footer {
  position: relative;
  margin-top: -1px;
  background-color: #343d68;
  padding: 5rem;
  font-family: Be-Vietnam-Pro;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.footer-faded-text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #535c87;
  user-select: none;
  font-size: 5em;
}

.link-wrapper {
  display: flex;
  gap: 1.2rem;
}

.link-wrapper div a {
  color: white;
  text-decoration: none;
  transition: all 0.6s;
}

.link-wrapper div a:hover {
  color: var(--bgOrange);
}

.icon-wrapper {
  display: flex;
  gap: 1rem;
}
/* ------------ Responsive Web ------------- */

/* @media (min-width: 375px) and (max-width: 425px) {
  .space {
    height: 0;
  }
  .navbar {
    padding-top: 0;
  }
  .hero-section {
    flex-wrap: wrap-reverse;
  }
  .hero-section-right {
    width: 70%;
    margin-left: -35px;
  }
  .hero-section-heading p {
    font-size: 30px;
  }
  .hero-section-sub-heading p {
    font-size: 25px;
    line-height: 10%;
  }
  .container {
    width: 425px;
  }
  .hero-section-description {
    width: 100%;
    text-align: justify;
  }
  .faded-text {
    font-size: 15px;
    height: 270px;
    margin-left: 30px;
  }

}
*/

@media (max-width: 1300px) {
  .space {
    height: 0;
  }
  .navbar {
    padding-top: 0;
  }
  .hero-section {
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .hero-section-left {
    width: 100%;
  }
  .hero-section-right {
    width: 70%;
  }
  .hero-section-heading p {
    font-size: 30px;
  }
  .hero-section-sub-heading p {
    font-size: 25px;
    line-height: 10%;
  }
  .faded-text {
    font-size: 25px;
    font-weight: 900;
    padding-left: 10%;
    margin-bottom: 80px;
  }

  .project-header {
    padding-top: 30px;
    color: orangered;
    text-align: center;
    font-size: 40px;
  }
  .project-container {
    padding: 5px;
    margin: 10px;
    gap: 60px;
  }
  .project-card {
    width: 100%;
    height: 300px;
  }
  .project-card {
    background-size: cover;
    background-position: center;
  }
  .project-content {
    scale: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .project-content-left {
    left: 0;
  }
  .project-heading {
    font-size: 40px;
    width: 100%;
  }
  .project-sub-heading {
    width: 100%;
  }
  #project2 {
    margin-left: 0;
  }
  #project4 {
    margin-left: 0;
  }
  .project-skill-container {
    width: 100%;
  }
  .project-skill {
    width: 35px;
  }
  .project-card:hover .project-number {
    display: none;
  }
  .project-card:hover .project-content {
    scale: 0.55;
  }

  .skills-section {
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
  }
  .skill-container-left {
    width: 100%;
  }
  .skill-container-right {
    width: 100%;
    padding-right: 15%;
  }
  .skills-faded-text {
    height: 700px;
    font-size: 40px;
    font-weight: 900;
    bottom: -52.4%;
    left: 70%;
  }

  .contactus-heading {
    font-size: 40px;
    font-weight: 900;
    padding-left: 5%;
  }
  .contactus-sub-heading {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
  }
  .contactus-form-container {
    width: 100%;
  }
  .form {
    margin: 0;
    margin-left: -25%;
  }
  .formfield-container {
    width: 100vw;
  }
  .formfield-container input {
    width: 70%;
  }
  .formfield-container textarea {
    width: 70%;
  }
  .submit-btn-div {
    width: 100%;
    display: inline;
  }
  #submit-btn {
    padding: 1%;
    margin: 0;
    margin-bottom: 2%;
    width: 25%;
    font-size: 135%;
  }
  #submit-btn i {
    font-size: 70%;
  }
  .bg-white {
    margin-bottom: 30px;
  }
  footer {
    width: 100%;
  }
  .footer-wrapper {
    width: 100vw;
  }
  .footer-faded-text {
    width: 100%;
    font-size: 40px;
    margin-left: 5%;
  }
  .skills-subheading p {
    z-index: 11;
  }
  .blob-style {
    z-index: -1;
  }
  .link-wrapper {
    padding-right: 50%;
  }
}
